.sidebar {
  width: 8%;
  height: 95vh;
  background-color: #0057ff;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.sidebar__route {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar__profile--pic-img {
  width: 90px;
  height: 90px;
}

li {
  list-style-type: none;
}
